<template>
<div class="form">

    <new-book-form/>

  </div>
</template>

<script>

import NewBookForm from '@/components/NewBookForm.vue'
export default {


name: 'book-form',
components : {
    NewBookForm
}

}
</script>

<style>

</style>