<template>
    <div class="main">
        <h2> Product Reviews for {{ name }}</h2>

        <p class=:="description">{{ description }}</p>
        </div>

        
</template>


<script>

export default {

name: 'product-review',
    data() {
        return {
            name : "Cigar Parties for Dummies",
            description: "Host and Plan the perfect cigar party for all of your squirrely friends"
        }
    }


}

</script>

<style scoped>




</style>