<template>
  <div class="card">
    <h2 class="book-title">{{book.title}}</h2>

    <img
      v-if="book.isbn"
      v-bind:src="'http://covers.openlibrary.org/b/isbn/' + book.isbn + '-M.jpg'"
    />

    <h3 class="book-author">{{book.author}}</h3>
    <button class="mark-read" v-if="!book.read" v-on:click.prevent="flipStatus(true)">Read</button>

    <button v-if="book.read" class="mark-unread" v-on:click.prevent="flipStatus(false)">Unread</button>
  </div>
</template>

<script>
export default {
  name: "book-card",

  props: ["book"],

  methods: {
    flipStatus(read) {
      //this.$store.state.books.findIndex(book => book.title== id);
      this.$store.commit("FLIP_READ", { book: this.book, value: read });
    }
  }
};
</script>

<style>
.card {
  border: 2px solid black;
  border-radius: 10px;
  width: 250px;
  height: 550px;
  margin: 20px;
}

.card.read {
  background-color: lightgray;
}

.card .book-title {
  font-size: 1.5rem;
}

.card .book-author {
  font-size: 1rem;
}
</style>