<template>
  <div class="book-container">
      <div id="reading-list">
      
      <book-card  v-for="book in bookList" v-bind:key="book.id"
      v-bind:book="book"/> 
    </div>
  </div>
</template>

<script>

import BookCard from './BookCard.vue'

export default {
name: 'reading-list',

components: {
BookCard
},

computed : {

bookList () {

let fullList = this.$store.state.books

return fullList;

}

}
}
</script>

<style>
.book-container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
</style>