body {
  margin: 20px;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
}

.container {
  background-color: #F0F0F0;
  display: flex;
 
}

.box {
  padding: 40px 55px;
  margin: 15px 0;
  background-color: #00AFEF;
  color: #fff;
  text-align: center;
  border: solid 1px #777;
  flex-grow: 1; 
}
