body {
  margin: 20px;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
}

.container {
  background-color: #F0F0F0;
  height: 500px;
  display: flex;
  align-items: flex-end; 
}

.box {
  padding: 40px 55px;
  background-color: #00AFEF;
  color: #fff;
  border: solid 1px #777;
}
