body {

font-size: 25px;
font-family: "Arial Black", Gadget, sans-serif; 
background-color: lightblue;
}

a {

font-style: italic;

}

header {

    text-align: center;
}

h1 {

   text-decoration: underline;
}

h2 {

    text-decoration: underline;

}

h3 {

    text-decoration: underline;

}

h4 {

    text-decoration: underline;

}

form {
   padding-top: 30px;
   padding-left: 40px;
}
